@tailwind base;
@tailwind components;
@tailwind utilities;

/* カスタムスタイルをここに追加 */

body {
  @apply bg-white dark:bg-gray-950 text-gray-900 dark:text-gray-100;
  overflow-wrap: anywhere; /* 収まらない場合に折り返す */
  word-break: normal; /* 単語の分割はデフォルトに依存 */
  line-break: strict; /* 禁則処理を厳格に適用 */
}
.gap-5{
    gap: .5rem;
}
.gap-6{
    gap: .3rem;
}

.c-badge{
    position: absolute;
    left: 0;
    bottom: 0;
    background-color: #000;
    color: #fff;
    font-size: .6rem;
    line-height: 1;
    padding: .1rem;
    border-top-right-radius: .3rem;

    &[data-clickable="false"]{
        background-color: #cc02c1;
    }
}

.c-select-mark{
    @apply absolute;
    @apply top-1;
    @apply right-1;
    @apply w-6;
    @apply h-6;
    @apply bg-sky-500;
    @apply rounded-full;
    @apply flex;
    @apply items-center;
    @apply justify-center;
    @apply border-2;
    @apply border-white;
    @apply shadow-sm;
}

.btn-primary{
    @apply p-2;
    @apply rounded;
    @apply bg-sky-500;
    @apply text-white;
    @apply hover:bg-sky-300;
    @apply duration-200;
    @apply text-sm;
}

.btn-cancel{
    @apply p-2;
    @apply rounded;
    @apply hover:bg-gray-200;
    @apply dark:text-gray-200;
    @apply dark:hover:bg-gray-700;
    @apply duration-200;
    @apply text-sm;
}